body {
    background-image: url("res/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.page {
    display: none;
    margin-left: 20%;
    margin-right: 20%;
    height: auto;
    background-color: rgba(146, 158, 158, 0.5);
    border-radius: 10px;
    padding-bottom: 2vw;
}

.page.active {
    display: flex;
}

#startPage {
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 12vw;
}

#settingsPage {
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 3vw;
}

#userInitializationPage {
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 1vw;
}

.userInitializationPageTitle > h1 {
    font-size: 2vw;
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    text-align: center;
}

.userInitializationPageForm {
    display: flex;
    justify-content: center;

}

.userInitializationPageButton {
    display: flex;
    justify-content: center;
}

.settingsPageTitle > h1 {
    font-size: 3vw;
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    text-align: center;
}

.startPageTitle > h1 {
    font-weight: normal;
    font-size: 5vw;
    font-family: 'Rubik', sans-serif;
    animation-name: colorShift;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes colorShift {
    0% {color: black}
    25% {color: #ffffff}
    50% {color: black}
    75% {color: #ffffff}
    100% {color: black}
}

.startPageTitle {
    text-align: center;
}

.buttonPage {
    all: unset;
    appearance: none;
    width: 15vw;
    height: 3vw;
    font-size: 2vw;
    background-color: green;
    text-align: center;
    border: darkgreen solid 0.2vw;
}

.startPagePlayButton {
    display: flex;
    justify-content: center;
}

.buttonPage:hover {
    background-color: rgba(0, 100, 0, 0.7);
    cursor: pointer;
}

.buttonPage:active {
    background-color: darkgreen;
    border: green solid 0.2vw;
}

.labelsForSettings {
    font-family: 'Rubik', sans-serif;
    letter-spacing: 0.3vw;
    font-size: 2vw;
    font-weight: normal;
}

.settingsPageForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5vw;
}

.inputs {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 2vw;
    width: auto;
    background-color: rgba(67, 124, 238, 0.66);
}

