/* Tło strony */
body {
    background: rgb(26, 50, 99);
}

/* Wygląd pól formularzy */
.inputs {
    all: unset;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 2vw;
    width: auto;
    background-color: rgb(250, 185, 91);
    box-shadow:
            0 0 calc(0.2em + 0.2vw) rgba(250, 185, 91, 0.9),
            0 0 calc(0.6em + 0.4vw) rgba(250, 185, 91, 0.75),
            0 0 calc(1.2em + 0.8vw) rgba(250, 185, 91, 0.55),
            0 0 calc(1.8em + 1vw)   rgba(250, 185, 91, 0.35);
    cursor: pointer;
    border-radius: 0.5vw;
    padding: 0.3vw;
}
#users {
    cursor: text !important;
}

/* Wygląd strony nie aktywnej */
.page {
    display: none;
    margin-left: 20%;
    margin-right: 20%;
    height: auto;
    background-color: rgba(84, 119, 146, 0.6);
    border-radius: 2vw;
    padding-bottom: 2vw;
}

/* Wygląd strony aktywowanej przez skrypt */
.page.active {
    display: flex;
}

/* Wygląd przycisków na stronie */
.buttonPage {
    all: unset;
    appearance: none;
    width: 18vw;
    height: 5vw;
    color: rgb(232, 226, 219);
    font-size: 4vw;
    background-color: rgb(250, 185, 91);
    text-align: center;
    border: rgb(220, 155, 61) solid 0.2vw;
    border-radius: 1vw;
}
.buttonPage:hover {
    background-color: rgba(250, 185, 91, 0.7);
    cursor: pointer;
}
.buttonPage:active {
    background-color: rgb(220, 155, 61);
    border: rgb(250, 185, 91) solid 0.2vw;
}

/* Wygląd strony startowej */
#startPage {
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 12vw;
}
@keyframes colorShift {
    0% {color: rgb(250, 185, 91)}
    25% {color: rgb(232, 226, 219)}
    50% {color: rgb(250, 185, 91)}
    75% {color: rgb(232, 226, 219)}
    100% {color: rgb(250, 185, 91)}
}
.startPageTitle > h1 {
    font-weight: normal;
    font-size: 5vw;
    font-family: 'Rubik', sans-serif;
    animation-name: colorShift;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.startPageTitle {
    text-align: center;
}
.startPagePlayButton {
    display: flex;
    justify-content: center;
}
.startPagePlayButton > input {
    width: 36vw;
    height: 12vw;
    font-size: 7vw;
}

/* Wygląd strony z ustawieniami */
#settingsPage {
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 3vw;
}
.settingsPageTitle > h1 {
    font-size: 5vw;
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    text-align: center;
    animation-name: colorShift;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.labelsForSettings {
    font-family: 'Rubik', sans-serif;
    letter-spacing: 0.3vw;
    color: rgb(232, 226, 219);
    font-size: 2vw;
    font-weight: normal;
}
.settingsPageForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5vw;
}
.categories {
    user-select: none;
    color: rgb(232, 226, 219);
    font-family: 'Rubik', sans-serif;
    font-size: 3vw;
    text-shadow:
            0 0 calc(0.15em + 0.1vw) rgba(250, 185, 91, 0.66),
            0 0 calc(0.35em + 0.2vw) rgba(250, 185, 91, 0.66),
            0 0 calc(0.6em + 0.3vw)  rgba(250, 185, 91, 0.66);
    cursor: pointer;
    display: inline-block;
}
.categories input {
    display: none;
}
.categories span {
    display: inline-block;
    transition: transform 0.25s ease, text-shadow 0.15s ease, color 0.15s ease;
}
.categories:not(:has(input:checked)):hover span {
    transform: scale(1.5);
}
.categories input:checked + span {
    transform: scale(1.2);
    color: rgb(250, 185, 91);
    text-shadow:
            0 0 calc(0.15em + 0.1vw) rgba(232, 226, 219, 0.66),
            0 0 calc(0.35em + 0.2vw) rgba(232, 226, 219, 0.66),
            0 0 calc(0.6em + 0.3vw)  rgba(232, 226, 219, 0.66);
}

/* Wygląd strony do inicjalizacji użytkowników */
#userInitializationPage {
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 1vw;
}
.userInitializationPageTitle > h1 {
    color: rgb(232, 226, 219);
    font-size: 2vw;
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    text-align: center;
}
.userInitializationPageForm {
    display: flex;
    justify-content: center;

}
.userInitializationPageButton {
    display: flex;
    justify-content: center;
}
.userInitializationPageForm > .inputs {
    cursor: text !important;
}


